@import './mixin'

/*
#mainmap svg
  border: 1px solid black
*/

.keytext
  font-size: 8pt

.keyxaxistext
  font-size: 7pt
  fill: #aaa

.keytext-invisible
  font-size: 2pt
  fill: #fff

#ds-movies
  line-height: 11px
  font-size: 7pt
  text-align: justify

.ds-hollywood
  color: #f1ee9c

.ds-nothollywood
  color: #bbd3f9

.ds-dash
  color: #bbb
